<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">NBP_Project</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tablice
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/tablice/inventar']">Inventar</a></li>
              <li><a class="dropdown-item" [routerLink]="['/tablice/kupac']">Kupac</a></li>
              <li><a class="dropdown-item" [routerLink]="['/tablice/kupnja']">Kupnja</a></li>
              <li><a class="dropdown-item" [routerLink]="['/tablice/laptop']">Laptop</a></li>
              <li><a class="dropdown-item" [routerLink]="['/tablice/poslovnica']">Poslovnica</a></li>
              <li><a class="dropdown-item" [routerLink]="['/tablice/predmet']">Predmet</a></li>
              <li><a class="dropdown-item" [routerLink]="['/tablice/trgovac']">Trgovac</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>